h1 {
    text-align: center;
}
@media (min-width: 1310px) {
.view-properties {
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns: 325px 325px 325px 325px ;
}    
}

@media (min-width: 990px) and (max-width:1310px){
    .view-properties {
        display: grid;
        width: 100%;
        justify-content: center;
    grid-template-columns: 325px 325px 325px;
}}

@media (max-width: 990px) and (min-width: 650px) {
    .view-properties {
        display: grid;
        width: 100%;
        justify-content: center;
    grid-template-columns: 325px 325px;
}}
@media (max-width: 650px) {
    .view-properties {
        display: grid;
        width: 100%;
        justify-content: center;
    grid-template-columns: 100% ;
}}